:root{
    --brack : #000000;
    --navbrack:#413c41;
    --waite : #ffffff;
    --laght_gray: #b1b1b1;
    --pink:#f8eef7;
    --padding : 30px;
    --margin :12px;
    --font_size:30px;
    --side_width:330px;

}
body{
    margin: 0;
}

/* 버튼과 눌렀을 때 모두 라인,줄,컬러 다 없애기 */
button,
button:focus{
    outline: none;
    cursor: pointer;
    border: none;
    background-color: rgba(169, 169, 169, 0.007);
}

/* header */
header{
    background-color: var(--brack);
    height:33px;
    display:flex;
    justify-content: space-between;
    padding:var(--padding) ;
    padding-top: 15px;
}
header .title{
    color: var(--waite);
    size: var(--icon_size);
    font-size: var(--font_size);
}

header #infonav{ /* side_bar 나오게 하는 버튼 */
    color: var(--waite);
    padding-top: 10px;
   /*  position: absolute;
    top: 10; right: 30px; */
}
header .seach{
    position: absolute;
    display: flex;
    right: 90px;
    top: 22px;
    background-color: var(--pink);
    padding:7px;
    border-radius: 15px;
}
header .seach #seachtext{
    background-color: var(--pink);
    border: none;
    outline: none;
}

/* side_bar */
nav{
    width: var(--side_width);
    height: 100%;
    background: var(--navbrack);
    position: fixed;
    right: -300px; top: 0;
    z-index: 1px;
}
nav #login{
    position: absolute;
    left: 30px;;
    top: 10px;
}
nav #login .in{
    color: var(--laght_gray);
    font-size: 14px;
    text-decoration: none;
    line-height: 55px;
    text-align: right;
}
nav #login #loginicon{
    color: var(--waite);
    position: relative;
    left: 0px;
    top: 0.7px;
}
.profile{
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 85px;
    top: 100px;
    width: 300px;
}
.profile .title{
    position: relative;
    top: 10px;
    color: burlywood;
    font-size: 20px;
    text-align: center;
    font-family: 'Black Han Sans', sans-serif;
}
.profile > p{
    position: relative;
    right: 30px;
    text-align: left;
    color: #cfd2e9;
    font-family: 'Sunflower', sans-serif;
}
.profile > span > img{
    position: relative;
    left: 5px;
    width: 130px; height: 120px;
    border-radius: 50%;
    border:4px solid rgba(201, 179, 151, 0.74);
}
nav .menu{
    position: absolute;
    bottom: 30px;
    right: 0;
    color: var(--waite);
}
nav .menu li{
    width: var(--side_width);
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 2px;
    text-align: center;
    background-color: rgb(252, 174, 111);
    border-top: 2px solid var(--brack);
    
}
/* 닫는 버튼  */
nav #iconx{
    position: absolute;
    top: 20px; right: 30px;
}

@keyframes putside{
    from{ right: -330px}
    to{ right: 0px;}
}
@keyframes pullside{
    from{ right: 0px;}
    to{ right: -330px;}
}


