:root {
    --brack: #000000;
    /* --navbrack:#413c41; */
    --navbrack: #526975;
    --green: #bbc9b8;
    --list_color: #78909c;
    --list_text_color: #15252c;
    --waite: #ffffff;
    --laght_green: #cbdce4;
    --pink: #f8eef7;
    --seach_color: #fafeff;

    --padding: 30px;
    --margin: 12px;
    --font_size: 30px;
    --side_width: 330px;

}

body {
    margin: 0;
}

/* 버튼과 눌렀을 때 모두 라인,줄,컬러 다 없애기 */
button,
button:focus {
    outline: none;
    cursor: pointer;
    border: none;
    background-color: rgba(169, 169, 169, 0.007);
}

/* header */
header {
    background-color: #44575c;
    width: 96%;
    height: 33px;
    display: flex;
    position: fixed;
    top: 0;
    justify-content: space-between;
    padding: var(--padding);
    padding-top: 15px;
    z-index: 15px;
}

header .title {
    color: var(--waite);
    size: var(--icon_size);
    font-size: var(--font_size);
}

header #infonav {
    /* side_bar 나오게 하는 버튼 */
    color: var(--waite);
    padding-top: 10px;
    cursor: pointer;
    /*  position: absolute;
    top: 10; right: 30px; */
}

header .seach {
    position: absolute;
    display: flex;
    right: 90px;
    top: 22px;
    background-color: var(--seach_color);
    padding: 7px;
    border-radius: 15px;
}

header .seach #seachtext {
    background-color: var(--seach_color);
    border: none;
    outline: none;
}

header .seach input::placeholder {
    color: rgba(101, 140, 158, 0.596);
    font-family: 'Chakra Petch', sans-serif;
}

/* side_bar */
nav {
    width: var(--side_width);
    height: 100%;
    background: var(--navbrack);
    border-left: 2px solid #2b353b;
    position: fixed;
    right: -330px;
    top: 0;
    z-index: 50px;
}


nav #login {
    position: absolute;
    left: 30px;
    top: 10px;
}

nav #login .in {
    color: var(--laght_green);
    font-size: 14px;
    text-decoration: none;
    line-height: 55px;
    text-align: right;
}

nav #login #loginicon {
    color: var(--waite);
    position: relative;
    left: 0px;
    top: 0.7px;
}

nav .profile {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 85px;
    top: 95px;
    width: 300px;
}

nav .profile .title {
    position: relative;
    top: 10px;
    color: var(--green);
    font-size: 20px;
    text-align: center;
    font-family: 'Black Han Sans', sans-serif;
}

nav .profile>p {
    position: relative;
    right: 30px;
    text-align: left;
    color: #e2f1f8;
    font-family: 'Sunflower', sans-serif;
}

nav .profile>span>img {
    position: relative;
    left: 5px;
    width: 130px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid #a5bfcc;
}

nav .menu {
    position: absolute;
    bottom: 12px;
    margin: 0;
    right: 0;
    color: var(--waite);
}

nav .menu li {
    width: var(--side_width);
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
    text-align: center;
    background-color: var(--list_color);
    border-top: 3px solid #37474f;
    border-bottom: 3px solid #37474f;

}

nav .menu li a {
    text-decoration: none;
    margin: 0;
    font-family: 'Gugi', cursive;
    font-size: 17px;
    /* font-weight: bolder; */
    color: var(--list_text_color);
}

/* 닫는 버튼  */
nav #iconx {
    position: absolute;
    top: 20px;
    right: 30px;
}

article .info {
    height: 24.3em;
    width: 100%;
    z-index: 1px;
}

/*start 첫페이지부분 */

article .swiper-container {
    position: absolute;
    top: 40px;
    left: -40px;
    width: 100%;
    z-index: 1px;
    margin: 0;
    padding-bottom: 0px;
}

article .swiper-container li {
    height: 43em;
    width: 100%;
}

article #start {
    background-color: #a8cebd;
    z-index: 1px;
}

article #start .text {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 37%;
    top: 15%;
}

article #start #startText {
    color: #739cd1;
    font-family: 'Coda Caption', sans-serif;
    font-size: 6em;
    text-align: center;
}

article #start #plustext {
    display: inline;
    padding-bottom: 0;
    margin-bottom: 0;
    position: relative;
    top: 46%;
    left: 43%;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 30px;
    color: #5a85bd;
    opacity: 0.3;
    cursor: pointer;
}

article #start #plustext:hover {
    opacity: 1;
}

article #start i {
    color: rgb(203, 229, 241);
    z-index: 5px;
    position: absolute;
    top: 580px;
    left: 50%;
}

article .java {
    background: red;
}

article .c {
    background: rgb(212, 161, 161);
}

article .html {
    background: rgb(0, 140, 255);
}

article #js {
    background: rgb(8, 56, 212);
}

article .python {
    background: rgb(229, 255, 0);
}

@keyframes putside {
    from {
        right: -330px
    }

    to {
        right: 0px;
    }
}

@keyframes pullside {
    from {
        right: 0px;
    }

    to {
        right: -330px;
    }
}

@keyframes dishead {
    from {
        top: 0px;
        opacity: 1;
    }

    /* 50%{opacity:0.5 ;} */
    to {
        top: -70px;
        opacity: 0.0;
    }
}

@keyframes appearhead {
    from {
        top: -70px;
        opacity: 0;
    }

    /* 50%{opacity:0.5 ;} */
    to {
        top: 0px;
        opacity: 1;
    }
}